input[type="text"]{

    padding: 15px;
    margin-left: 7px;
    color: black;
    background-color: red;
    }

    .botao{

        display: block;
        width: 15%;
        padding: 15px 25px;
        margin: 8px;
        background-color: blueviolet;
        color: yellow;
            }
            
    .operacao{
        padding-right: 12px;
        padding: 12px;
        margin-right: 15px;
        background-color: chartreuse;
        color: black;
        }


        
        
        